In [24]:
# Fudamntals Data Types
int
float
str 
bool 
list
tuple
set 
dict 

# Spetial 
None

# CustomTypes -> classes

In [19]:
# Variables 
name = 'Slavo' 
print(type(name))
age = 43 
weight = 100.56
print(type(age))
print(type(weight))
zbir = age + weight
print(zbir)

<class 'str'>
<class 'int'>
<class 'float'>
143.56

In [112]:
list_a = [
    5, -12, 5, 0, 99, -34, 8, 7, -3, 42, 8, -15, 3.14, -6.5, "100" , None, [1, 2], {"x": 1}, True, (4, 5)]

list_b = [
    -7, 14, -21, 14, 50, 0, -8, 33, 100, -45, 2, -2.5, 9.81, "hello", False, {"a": 2}, [9, 8], None, "99"]

for b in list_b:
    print("First: ", b, " -> ", list_b.index(b))
    if type(b) == int or type(b) == float:
        print(b, " -> ",list_b.index(b))
        
    else: 
        print("ELSE: ",b," -> ", list_b.index(b))
        list_b.remove(b)

print(list_b)

First:  -7  ->  0
-7  ->  0
First:  14  ->  1
14  ->  1
First:  -21  ->  2
-21  ->  2
First:  14  ->  1
14  ->  1
First:  50  ->  4
50  ->  4
First:  0  ->  5
0  ->  5
First:  -8  ->  6
-8  ->  6
First:  33  ->  7
33  ->  7
First:  100  ->  8
100  ->  8
First:  -45  ->  9
-45  ->  9
First:  2  ->  10
2  ->  10
First:  -2.5  ->  11
-2.5  ->  11
First:  9.81  ->  12
9.81  ->  12
First:  hello  ->  13
ELSE:  hello  ->  13
First:  {'a': 2}  ->  14
ELSE:  {'a': 2}  ->  14
First:  None  ->  15
ELSE:  None  ->  15
[-7, 14, -21, 14, 50, 0, -8, 33, 100, -45, 2, -2.5, 9.81, False, [9, 8], '99']